<html lang="en">
<%- include('templates/head'); %>
<body class="container">
<%- include('templates/header', {title:title, user: user}); %>
<form name="form" method="POST" action="/add-project">
    <ul class="form-style-1">
        <div>
            <label for="name">Project Name</label>
            <input type="text" id="name" name="name" required>
            <br><br>
            <label for="description">Description</label>
            <input type="text" id="description" name="description">
            <br><br>
            <label for="projectManager">Project Manager</label>
            <select id="projectManager" name="projectManager" required>
                <option disabled selected value> -- select an option --</option>
                <% projectManagers.forEach(function(pm){ %>
                    <option value=<%= pm %>> <%= pm %></option>
                <% }); %>
            </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Add Project">
        <input type="button" class="btn btn-warning" value="Cancel" onclick="window.location.href='/projects'">
    </ul>
</form>
</body>
<script>
  var urlParams = new URLSearchParams(window.location.search);
  if (urlParams.has('completed')) {
    if (urlParams.get('completed') === "true") {
      alert("Project added");
      window.location.href = "/projects";
    } else {
      alert("Project Already Exists! Choose another name.");
    }
  }
</script>

</html>
