<html lang="en">
<%- include('templates/head'); %>
<body class="container">
<%- include('templates/header', {title:title, user: user}); %>
<form name="form" method="POST" action="/add-task">
    <ul class="form-style-1">
        <div>
            <label for="project">Project</label>
            <input type="text" id="project" name="project" readonly value="<%= project %>">
            <br><br>
            <label for="name">Task Name</label>
            <input type="text" id="name" name="name" required>
            <br><br>
            <label for="description">Description</label>
            <input type="text" id="description" name="description">
            <br><br>
            <label for="developer">Developer</label>
            <select id="developer" name="developer" required>
                <option disabled selected value> -- select an option --</option>
                <% developers.forEach(function(dev){ %>
                    <option value=<%= dev %>> <%= dev %></option>
                <% }); %>
            </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Add Task">
        <input type="button" class="btn btn-warning" value="Cancel"
               onclick="window.location.href='/project?project=<%= project %>'">
    </ul>
</form>
</body>
<script>
  var urlParams = new URLSearchParams(window.location.search);
  if (urlParams.has('completed')) {
    if (urlParams.get('completed') === "true") {
      alert("Task added");
      window.location.href = "/project?project=" + urlParams.get('project');
    } else {
      alert("Problem in adding task! Please try again.");
    }
  }
</script>

</html>
