<html lang="en">

<%- include('templates/head'); %>
<body class="container">
<%- include('templates/header', {title:title, user: user}); %>

<h2>Home Page</h2>
<p>Click on the navigation links to go to the desired page</p>
</body>

</html>
