<!DOCTYPE html>
<html lang="en">
<%- include('templates/head'); %>
<body class="container">
<div class="page-header">
    <h1>Login User</h1>
</div>
<div class="container row">
    <div class="jumbotron col-sm-4 pull-center">
        <form action="./login" method="post">
            <div>
                <label>Username:</label>
                <br>
                <input type="text" name="username"/>

            </div>
            <div>
                <label>Password:</label>
                <br>
                <input type="password" name="password"/>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Log In"/>
            </div>
        </form>
    </div>
</div>
</body>

<script>
  let url = new URLSearchParams(window.location.search);
  if (url.has('failed') && url.get('failed') === "true") {
    alert("Login failed! Please try again");
    window.location.href = '/login';
  }

</script>
</html>
