<html lang="en">
<%- include('templates/head'); %>
<body class="container">
<%- include('templates/header', {title:title, user: user}); %>
<h1 style="text-align: center">404 NOT FOUND</h1>
</body>

</html>
