<!DOCTYPE html>
<html lang="en">
<%- include('templates/head'); %>
<body class="container">
<%- include('templates/header', {title:title, user: user}); %>

<div class="container row">
    <div class="jumbotron col-sm-4 pull-center">
        <form name="form" method="POST" action="./add-user">
            <label>Username: <input type="text" name="username"/> </label>
            <label>Password: <input type="password" name="password"/></label>
            <label for="type">User Type</label>
            <select name="type" id="type">

                <option name="user" value="developer">Developer</option>
                <option name="user" value="project-manager">Project Manager</option>
            </select>
            <div>
                <input class="btn btn-primary" type="submit" value="Sign Up"/>
            </div>
        </form>
    </div>
</div>
</body>
<script>
  var urlParams = new URLSearchParams(window.location.search);
  if (urlParams.has('completed')) {
    if (urlParams.get('completed') === "true") {
      alert("User added");
      window.location.href = "/";
    } else {
      alert("User Already Exists!");
    }
  }
</script>
</html>
