<html lang="en">
<%- include('templates/head'); %>
<body class="container">
<%- include('templates/header', {title:title, user: user}); %>
<h2>Tasks Table</h2>
<h5> Double click on the task to finish it</h5>
<div id="tasks-table"></div>
<button class="btn btn-primary" onclick="exportAsCSV()"> Export Table as CSV</button>
<button class="btn btn-primary" onclick="exportAsJSON()"> Export Table as JSON</button>
</body>
<script>
  var urlParams = new URLSearchParams(window.location.search);
  let data = JSON.parse(`<%- data %>`);
  console.log("data", data);
  let title = `<%- title %>`
  //prepare table
  let labels = ['name', 'description', 'status'];
  var table_plot = makeTable("tasks")
    .datum(data)
    .colsOrder(labels);
  table_plot.on('dblclick', function (data) {
    if (data !== undefined) {
      if (data.status === 'In-review') {
        alert("Task is in review phase, your job is done here!");
        return;
      } else if (data.status === 'Done') {
        alert("Task is already done!");
        return;
      } else {
        let check = confirm("Have you finished the task?");
        if (check) {
          $.ajax({
            url: '/change-task-status',
            data: {status: 'In-review', taskId: data.id},
            type: 'PUT',
            success: function (result) {
              if (result.error) {
                alert("Problem in changing status");
              } else {
                alert("Task Completed!");
                history.go();
              }
            }
          });
        }
      }
    }
  });
  d3.select('#tasks-table').call(table_plot);

  // Exporting information
  console.log("data", data);
  var data_as_json = JSON.parse(JSON.stringify(data));
  var data_as_csv = Papa.unparse(data_as_json, {columns: labels, quotes: true});
  data_as_json.forEach(function (cur, idx) {
    data_as_json[idx] = JSON.stringify(cur);
  });
  data_as_json = data_as_json.join("\n");

  var blob_csv = new Blob([data_as_csv], {type: "text/csv;charset=utf-8"});
  var blob_json = new Blob([data_as_json], {type: "application/json;charset=utf-8"});

  function exportAsCSV() {
    saveAs(blob_csv, title + '.csv');
  }

  function exportAsJSON() {
    saveAs(blob_json, title + ".jsonl");
  }

</script>

</html>
