<html lang="en">

<%- include('templates/head'); %>
<body class="container">
<%- include('templates/header', {title:title, user: user}); %>
<h2>Users Table</h2>
<div id="users-table"></div>
<button class="btn btn-primary" onclick="window.location.href='/add-user'"> Add User</button>
<button class="btn btn-primary" onclick="exportAsCSV()"> Export Table as CSV</button>
<button class="btn btn-primary" onclick="exportAsJSON()"> Export Table as JSON</button>
</body>
<script>
  let data = JSON.parse(`<%- data %>`);
  let title = `<%- title %>`
  //prepare table
  let labels = ['username', 'type'];
  var table_plot = makeTable("users")
    .datum(data)
    .colsOrder(labels);
  d3.select('#users-table').call(table_plot);

  // Exporting information

  var data_as_json = JSON.parse(JSON.stringify(data));
  var data_as_csv = Papa.unparse(data_as_json, {columns: labels, quotes: true});
  data_as_json.forEach(function (cur, idx) {
    data_as_json[idx] = JSON.stringify(cur);
  });
  data_as_json = data_as_json.join("\n");

  var blob_csv = new Blob([data_as_csv], {type: "text/csv;charset=utf-8"});
  var blob_json = new Blob([data_as_json], {type: "application/json;charset=utf-8"});

  function exportAsCSV() {
    saveAs(blob_csv, title + '.csv');
  }

  function exportAsJSON() {
    saveAs(blob_json, title + ".jsonl");
  }
</script>
</html>
