<head>
    <meta charset="utf-8">
    <title>Project Manager</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <script src="/javascripts/jquery-3.5.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/d3.v4.min.js"></script>
    <script src="/javascripts/papaparse.min.js"></script>
    <script src="/javascripts/FileSaver.min.js"></script>
    <!-- <datatable> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <!-- <datatable/> -->
    <script src="/javascripts/MakeTable.js"></script>

</head>
