<div class="page-header">
    <h1> <%= title %></h1>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Home</a>
            </li>
            <% if (user.type === 'team-leader' || user.type === 'project-manager') { %>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
            <% } %>
            <% if (user.type === 'team-leader') { %>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>
            <% } %>
            <% if (user.type === 'developer') { %>
                <li class="nav-item">
                    <a class="nav-link" href="/tasks">Tasks</a>
                </li>
            <% } %>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand"><%= user.username %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<br><br>
